.aboutMe {
  position: relative;
  height: 476px;
  overflow: hidden;
}

.content {
  position: absolute;
  left: 50%;
  width: 360px;
  height: 200px;
  margin-left: -217px;
  padding: 88px 859px 188px 37px;
  line-height: 1.2;
  background: url(/images/hand_with_card_horizontal.png) no-repeat;
  background-image: image-set(
    url(/images/hand_with_card_horizontal.png) 1x,
    url(/images/hand_with_card_horizontal@2x.png) 2x
  );
}

.content.transparent {
  opacity: 0;
}

.content.handAnimation {
  opacity: 1;
  transform-origin: 150% 110%;
  animation: hand-slide-in 0.8s ease-out backwards;
  animation-delay: 0.05s;
  backface-visibility: hidden;
}

@keyframes hand-slide-in {
  0% {
    z-index: 10000;
    transform: translate3d(0, 60px, 0) rotateZ(-30deg);
  }
  100% {
    z-index: 10000;
  }
}

.content .avatar {
  position: absolute;
  margin: 26px 0 0 -11px;
  clip: rect(0 125px 150px 25px);
}

.content .textWrapper {
  margin-left: 125px;
}

.content h1 {
  font-size: 34px;
  font-weight: normal;
  margin: 26px 0 26px;
  color: #555;
}

.content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content ul li {
  margin: 10px 0;
  font-size: 16px;
}

.content .label {
  display: inline-block;
  min-width: 2em;
  margin-right: 7px;
}

.content .emailAddress {
  color: #444;
}

.content .emailAddress:hover,
.content .emailAddress:focus {
  color: #111;
}

/*此断点是根据2列时计算 item 200px * 2 + 间距 40px*/
@media screen and (max-width: 440px) {
  .aboutMe {
    height: 444px;
  }

  .content {
    width: 200px;
    height: 360px;
    margin-left: -124px;
    padding: 8px 276px 76px 24px;
    background: url(/images/hand_with_card_vertical.png) no-repeat;
    background-image: image-set(
      url(/images/hand_with_card_vertical.png) 1x,
      url(/images/hand_with_card_vertical@2x.png) 2x
    );
  }

  .content.handAnimation {
    transform-origin: 110% 150%;
  }

  @keyframes hand-slide-in {
    0% {
      z-index: 10000;
      transform: translate3d(0, 140px, 0) rotateZ(-40deg);
    }
    100% {
      z-index: 10000;
    }
  }

  .content .avatar {
    clip: rect(10px, 150px, 110px, 0);
    margin: 4px 0 0 26px;
  }

  .content .textWrapper {
    margin: 125px auto 0;
    height: 236px;
    color: #444;
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
  }

  .content h1 {
    margin: 0 0 0 10px;
  }

  .content ul {
    margin: 0;
  }

  .content ul li {
    margin: 0 8px;
  }

  .content ul li .label {
    margin: 0 0 8px;
    min-width: 0;
    min-height: 2em;
  }
}
