.inner {
  line-height: 1.2;
  background: url(/images/hand_with_card_horizontal.png) no-repeat;
  background-image: image-set(
    url(/images/hand_with_card_horizontal.png) 1x,
    url(/images/hand_with_card_horizontal@2x.png) 2x
  );
  will-change: transform;
}

.inner.transparent {
  opacity: 0;
}

.inner.handAnimation {
  opacity: 1;
  transform-origin: 150% 110%;
  animation: hand-slide-in 0.8s ease-out backwards;
  animation-delay: 0.05s;
  backface-visibility: hidden;
}

@keyframes hand-slide-in {
  0% {
    z-index: 10000;
    transform: translate3d(0, 60px, 0) rotateZ(-30deg);
  }
  100% {
    z-index: 10000;
  }
}
