.typographyHeadlineStandalone {
  --headline-gradient-start: #237cab;
  --headline-gradient-end: #0bcbd9;
  --headline-gradient-shimmer: #5ee5ef;
  /* --headline-gradient-start: #194bb5; // hsl(221, 76, 40)
  --headline-gradient-end: #009de4; // hsl(199, 100, 45)
  --headline-gradient-shimmer: #5ac8fa; // hsl(199, 94, 67) */
  text-align: center;
  font-size: 96px;
  line-height: 1.0416666667;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

/* .typographyHeadlineStandalone:lang(ja) {
  letter-spacing: 0em;
  font-family: SF Pro JP, SF Pro Display, SF Pro Icons, Hiragino Kaku Gothic Pro,
    ヒラギノ角ゴ Pro W3, メイリオ, Meiryo, ＭＳ Ｐゴシック, Helvetica Neue,
    Helvetica, Arial, sans-serif;
} */

.typographyHeadlineStandalone:lang(zh) {
  letter-spacing: 0em;
}

@media only screen and (max-width: 1068px) {
  .typographyHeadlineStandalone {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
  }

  .typographyHeadlineStandalone:lang(ja) {
    line-height: 1.0875;
    letter-spacing: 0em;
  }

  .typographyHeadlineStandalone:lang(zh) {
    line-height: 1.0875;
    letter-spacing: 0em;
  }
}

@media only screen and (max-width: 734px) {
  .typographyHeadlineStandalone {
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
  }

  .typographyHeadlineStandalone:lang(ja) {
    line-height: 1.1459933333;
    letter-spacing: 0em;
  }

  .typographyHeadlineStandalone:lang(zh) {
    letter-spacing: 0em;
  }
}

.headlineGradient {
  display: inline-block;
  --headline-gradient-direction: 90deg;
  background-image: linear-gradient(
    var(--headline-gradient-direction),
    var(--headline-gradient-start),
    var(--headline-gradient-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
}

.enhanceXp .headlineGradient {
  --gradient-highlight-spread: 20%;
  --gradient-shimmer-angle: 100deg;
  --gradient-position: 140%;
  /* --gradient-position-start: 140;
  --gradient-position-end: -40; */
  background-image: linear-gradient(
      var(--gradient-shimmer-angle),
      transparent calc(50% - var(--gradient-highlight-spread)),
      var(--headline-gradient-shimmer),
      transparent calc(50% + var(--gradient-highlight-spread))
    ),
    linear-gradient(
      var(--headline-gradient-direction),
      var(--headline-gradient-start),
      var(--headline-gradient-end)
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, 100% 100%;
  /* background-position 的百分比值是指图片的百分比和容器的百分比对齐，注意最终效果取决于2个要素 */
  background-position: var(--gradient-position) 50%, 50% 50%;
}
