.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.text {
  font-size: 72px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 734px) {
  .text {
    font-size: 40px;
  }
}

.letter {
  display: inline-block;
}
