.component {
  position: relative;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: inline-block;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  color: #357d92;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.textScroll {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
  color: #357d92;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
