@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "PingFang SC", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

@layer base {
  :root {
    --color-accent: #0076d1;
    --color-link: var(--color-link);
    --color-gold: #ccaf6b;

    --color-deep-pink: #bb3d6e;

    /* palette */
    /* 霓虹灯 */
    --color-neon-1: #f988b7;
    --color-neon-2: #9bdeba;
    --color-neon-3: #acddf9;
    --color-neon-4: #fdffb0;
    --color-neon-5: #feb596;

    --color-olive: hsl(80deg 15% 35%);
    --color-khaki: hsl(49deg 24% 59%);

    --color-vintage-green: #656e38;
    --color-vintage-yellow: #d3d7a3;
  }

  body {
    text-rendering: optimizeLegibility;
    color: #444;
  }

  input[type="checkbox"],
  input[type="radio"],
  progress,
  select,
  datalist,
  input[type="range"] {
    accent-color: var(--color-accent);
  }

  dialog:modal {
    max-width: 100%;
    max-height: 100%;
  }

  /*考虑用:lang*/
  /* body.jp,
  body.jp button,
  body.jp input,
  body.jp select, */
  /* body.jp textarea { */
  /* font-family: "Hiragino Kaku Gothic Pro", "Meiryo UI", "MS PGothic", */
  /* sans-serif; */
  /* } */

  a {
    color: var(--color-link);
  }

  a:hover {
    text-decoration: underline;
  }

  /* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
  a:focus {
    /* Provide a fallback style for browsers
	 that don't support :focus-visible */
    /* outline: none; */
    /* text-decoration: underline; */
    /* background: lightgrey; */
  }

  a:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
  that do support :focus-visible */
    /* background: transparent; */
    /* outline: 1px solid black; */
  }

  a:focus-visible {
    /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
    outline-color: var(--color-accent);
    /* background: transparent; */
  }
}

@utility text-carved {
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

@variant touchscreen (@media (hover: none) and (pointer: coarse));
