.pageWrapper a:hover,
.pageWrapper a:focus {
  /* color: #078c4b; */
  color: #000;
}

@supports (padding: max(0px)) {
  .container {
    padding-left: max(15px, env(safe-area-inset-left));
    padding-right: max(15px, env(safe-area-inset-right));
  }
}

/* @media (max-width: 440px) {
  .globalHeader a h1 {
    padding-bottom: 60%;
    background-image: url(/images/horahora-vertical.png);
  }
} */

@keyframes slide-in {
  0% {
    transform: translate3d(0, 80vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
