.pageWrapper {
  position: relative;
  overflow: hidden;
  background: #f0f0f0 url(/images/noise.png) 50% 0;
  background-image: image-set(
    url(/images/noise.png) 1x,
    url(/images/noise@2x.png) 2x
  );
  cursor: default;
  user-select: none;
}

.pageWrapper ::selection {
  color: #062617;
  background: rgba(145, 242, 194, 0.4);
  text-shadow: none;
}

.pageWrapper a {
  color: #00b85e;
  outline: none;
  text-decoration: none;
}

.pageWrapper a:hover,
.pageWrapper a:focus {
  color: #078c4b;
  text-decoration: underline;
}

.container {
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@supports (padding: max(0px)) {
  .container {
    padding-left: max(15px, env(safe-area-inset-left));
    padding-right: max(15px, env(safe-area-inset-right));
  }
}

.globalHeader a {
  display: block;
  margin: 0 auto;
  max-width: 888px;
  line-height: 0;
}

.globalHeader a h1 {
  padding-bottom: 28.153153%;
  text-indent: -9999px;
  margin: 0;
  height: 0;
  color: transparent;
  background: url(/images/horahora.png) center no-repeat;
  background-image: image-set(
    url(/images/horahora.png) 1x,
    url(/images/horahora@2x.png) 2x
  );
  background-size: contain;
}

.portfolio {
  padding-bottom: 60px;
}

.portfolio .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  /* 30 / 1000 = 0.03 */
}

@media screen and (max-width: 1000px) {
  .portfolio .container {
    gap: 15px;
  }
}

/* 3列 */
@media screen and (max-width: 767px) {
  .portfolio .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2列 */
@media screen and (max-width: 600px) {
  .portfolio .container {
    grid-template-columns: repeat(2, 1fr);
    animation: slide-in 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    will-change: transform;
  }
}

/* 1列 */
@media screen and (max-width: 400px) {
  .portfolio .container {
    grid-template-columns: 1fr;
  }
}

@keyframes slide-in {
  0% {
    transform: translate3d(0, 80vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
