.pageWrapper {
  position: relative;
  overflow: hidden;
  background: #f0f0f0 url(/images/noise.png) 50% 0;
  background-image: image-set(
    url(/images/noise.png) 1x,
    url(/images/noise@2x.png) 2x
  );
  cursor: default;
  user-select: none;
}

.container {
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@supports (padding: max(0px)) {
  .container {
    padding-left: max(15px, env(safe-area-inset-left));
    padding-right: max(15px, env(safe-area-inset-right));
  }
}

.globalHeader a {
  display: block;
  margin: 0 auto;
  max-width: 888px;
  line-height: 0;
}

.globalHeader a h1 {
  padding-bottom: 28.153153%;
  text-indent: -9999px;
  margin: 0;
  height: 0;
  color: transparent;
  background: url(/images/horahora.png) center no-repeat;
  background-image: image-set(
    url(/images/horahora.png) 1x,
    url(/images/horahora@2x.png) 2x
  );
  background-size: contain;
}

.portfolio {
  padding-bottom: 60px;
}

.portfolio .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  /* 30 / 1000 = 0.03 */
}

@media screen and (max-width: 1000px) {
  .portfolio .container {
    gap: 15px;
  }
}

/* 大于等于768px，维持4列 */
@media screen and (max-width: 767px) {
  .portfolio .container {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

.globalFooter {
  line-height: 1.2;
  text-align: center;
}

.globalFooter {
  position: absolute;
  width: 100%;
  bottom: 32px;
  text-align: left;
}

.globalFooter .langToggle {
  margin-bottom: 14px;
}

.globalFooter .langToggle li {
  display: inline;
  margin-right: 5px;
}

.globalFooter .langToggle a {
  color: #666;
  font-size: 12px;
  padding: 3px 12px;
  border-radius: 4px;
}

.globalFooter .langToggle a:hover,
.globalFooter ul.langToggle a:focus {
  color: #222;
}

.globalFooter .langToggle a.current {
  color: #555;
  background: #dadada;
  background: rgba(0, 0, 0, 0.08);
  cursor: default;
  text-shadow: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.7);
}

.globalFooter .copyright {
  margin: 0;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  color: #666;
}

@media screen and (max-width: 720px) {
  .globalFooter {
    bottom: 30px;
  }
}

/*此断点是根据2列时计算 item 200px * 2 + 间距 40px*/
@media screen and (max-width: 440px) {
  .globalFooter {
    bottom: 20px;
  }

  /* .globalFooter .copyright {
    display: none;
  }*/
  .globalFooter .copyright span {
    display: block;
    margin-top: 4px;
  }
  .globalFooter .copyright .hiddenXs {
    display: none;
  }
}
