@keyframes photo-browser-in {
  0% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes photo-browser-out {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
}

.page {
  position: relative;
  background-color: #fff;
  user-select: none;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@supports (padding: max(0px)) {
  .container {
    padding-left: max(15px, env(safe-area-inset-left));
    padding-right: max(15px, env(safe-area-inset-right));
  }
}

.pageTitle {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  color: #1a1a1a;
  font-size: 26px;
  font-weight: 400;
}

.photographyList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 15px;
}

.photoItem {
  aspect-ratio: 1 / 1;
}

.photoItem img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .photographyList {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  .photoItem img {
    object-fit: cover;
  }
}

.copyright {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #666;
}

/* .photoSwiper::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 1);
} */

.dialog {
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  max-width: 100vw;
  max-height: 100vh;
  max-height: 100dvh;
  user-select: none;
  background-color: #000;
  animation: photo-browser-in 0.4s;
}

.dialogToolbar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: #fff;
  background-color: rgba(27, 27, 27, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  opacity: 1;
  transition: 0.3s;
}

.dialogToolbarHidden {
  opacity: 0;
}

.dialogTitle {
}

.dialogClose {
  position: absolute;
  right: 0;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.photoSwiper {
  --swiper-theme-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photoSwiper :global(.swiper-button-prev),
.photoSwiper :global(.swiper-button-next) {
  background-color: rgba(27, 27, 27, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  width: 32px;
  height: 52px;
  border-radius: 5px;
  transition: 0.3s;
}

@media (hover: none) and (pointer: coarse) {
  .photoSwiper :global(.swiper-button-prev),
  .photoSwiper :global(.swiper-button-next) {
    display: none;
  }
}

.photoSwiper :global(.swiper-button-prev)::after,
.photoSwiper :global(.swiper-button-next)::after {
  font-size: 26px;
}
