@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

html {
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
}

/*也可以在body上定义，然后其他的用herit*/
body,
button,
input,
select,
textarea {
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "PingFangSC", sans-serif;
}

/*考虑用:lang*/
body.jp,
body.jp button,
body.jp input,
body.jp select,
body.jp textarea {
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo UI", "MS PGothic", sans-serif;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

::selection {
  color: #062617;
  background: rgba(145, 242, 194, 0.4);
  text-shadow: none;
}

a {
  color: #00b85e;
  outline: none;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #078c4b;
  text-decoration: underline;
}

a img {
  border: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

h1,
h2,
h3 {
  font-family: "PingFangSC", "Microsoft YaHei", "SimHei", sans-serif;
}

p {
  margin: 0 0 10px;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 85%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

form,
figure {
  margin: 0;
}

.allow-select {
  cursor: auto;
  user-select: text;
}

.disable-hover {
  pointer-events: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.text-carved {
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
