@import "normalize.css";

:root {
  --color-accent: #0076d1;
  --color-link: var(--color-link);
  --color-gold: #ccaf6b;

  /* palette */
}

html {
  min-width: 320px;
}

body {
  font-family: "PingFangSC", sans-serif;
  font-size: 15px;
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #444;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input[type="checkbox"],
input[type="radio"],
progress,
select,
datalist,
input[type="range"] {
  accent-color: var(--color-accent);
}

/*考虑用:lang*/
/* body.jp,
body.jp button,
body.jp input,
body.jp select,
body.jp textarea {
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo UI", "MS PGothic", sans-serif;
} */

/* h1,
h2,
h3 {
  font-family: "PingFangSC", "Microsoft YaHei", "SimHei", sans-serif;
} */

p {
  margin: 0 0 10px;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

a:hover {
  text-decoration: underline;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  /* outline: none; */
  /* text-decoration: underline; */
  /* background: lightgrey; */
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
  that do support :focus-visible */
  /* background: transparent; */
  /* outline: 1px solid black; */
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline-color: var(--color-accent);
  /* background: transparent; */
}

/* ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
} */

textarea {
  resize: vertical;
}
